@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.bground {
    background-color: lightblue;

    height: 100%;
    width: 100%;
}

.back {
    cursor: pointer;
    font-size: 36px;
    color: white;
}

.sform {
    //background-color: white;
    width: 30vw;
    height: 25vh;
    position: relative;
}

.icons {
    color: white;
}

.input {
    position: absolute;
    background: rgb(58, 67, 180);
    background: linear-gradient(90deg, rgba(58, 67, 180, 1) 0%, rgba(198, 29, 253, 1) 50%, rgba(252, 69, 69, 1) 100%);
    width: 100%;
    height: 5vh;
    font-size: 18px;
    border-radius: 50px;
    bottom: 0;
}

.html-input {
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: white;
    width: 100%;
    outline: none;
    color: white;
    font-size: 18px;
}

input.html-input:focus {
    outline-width: 0;
}

.minput {
    margin-left: 25px;
    width: calc(100% - 50px);
    color: white;
    height: 100%;
}

.content::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f85125;
    clip-path: circle(25% at 100% -20%);
}

.content::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #74ee15;
    clip-path: circle(30% at 0% 100%);
}

.dtable {
    width: calc(30vw);
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 14px;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    //border-radius: 15px;
}

.styled-table tbody {
    display: block;
    max-height: 50vh;
    overflow-y: scroll;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    display: block;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    font-weight: bold;
    color: #009879;
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: lightgray;
    font-weight: bold;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
