<div class="bground">

    <div fxLayout="column" fxLayoutAlign="center center" class="content">
        <div class="sform">
            <div class="input">
                <div class="minput" color="warn" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="icons">search</mat-icon>
                    <input type="input" (keyup)="getPlayersByName($event)" [(ngModel)]="value" class="html-input">
                    <mat-icon class="icons" [style.visibility]="value==''? 'hidden' : 'visible'" (click)="value=''"
                        style="cursor: pointer;">close</mat-icon>
                </div>
            </div>
        </div>

        <div class="dtable">
            <table class="styled-table" *ngIf="players.length>0">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of players" [value]="player.id">
                        <td>{{player.full_name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>