.bground {
    background-image: linear-gradient( 109.6deg,  #485563 16%, #29323c 91.1% );

    height: 100%;
    width: 100%;
}

.content::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f85125;
    clip-path: circle(25% at 100% -20%);
}

.content::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #74ee15;
    clip-path: circle(30% at 0% 100%);
}
