<body>
    <div>
        <mat-icon color="primary">sports_basketball</mat-icon>
        <div class="title">NBA STATISTICS</div>
    </div>

    <div class="layout">
        <div routerLink="/spain" class="card">
            <mat-icon color="primary" class="icon">
                shuffle
            </mat-icon>

            <h1>
                Random
            </h1>
            <p>
                Get Stas from a Random Player
            </p>
            <p>
                Shows basic stats from a Random Player.
            </p>
        </div>

        <div class="card2">
            <mat-icon color="primary" class="icon">
                how_to_reg
            </mat-icon>

            <h1>
                1 Player
            </h1>
            <p>
                Get Stats from a Selected Player
            </p>
            <p>
                Select a player from the list to get the stats.
            </p>
        </div>

        <div class="card3">
            <mat-icon color="primary" class="icon">
                supervisor_account
            </mat-icon>

            <h1>
                Compare Players
            </h1>
            <p>
                Get Stats Between 2 Players
            </p>
            <p>
                Select 2 players from the list to compare stats.
            </p>
        </div>
    </div>
</body>