<body>
    <!-- <div routerLink="/spain">España</div>
<div>Francia</div>
<div>Estados Unidos</div> -->
    <span style="color: white">
        TITULO
    </span>

    <div class="layout">
        <div routerLink="/spain" class="card">
            <span class="span">
                🇪🇸
            </span>

            <h1>
                España
            </h1>
            <p>
                Santos en España
            </p>
            <p>
                aqui va otro pedazo de texto para rellenar y que ocupe mas espacio, como puede ser el lorem ipsum
            </p>
        </div>

        <div class="card2">
            <span class="span">
                🇫🇷
            </span>

            <h1>
                Francia
            </h1>
            <p>
                Santos en España
            </p>
            <p>
                aqui va otro pedazo de texto para rellenar y que ocupe mas espacio, como puede ser el lorem ipsum
            </p>
        </div>

        <div class="card3">
            <span class="span">
                🇺🇸
            </span>

            <h1>
                EEUU
            </h1>
            <p>
                Santos en España
            </p>
            <p>
                aqui va otro pedazo de texto para rellenar y que ocupe mas espacio, como puede ser el lorem ipsum
            </p>
        </div>
    </div>

</body>