<body>
    <div class="title">
        <div class="stitle">
            <span style="font-size: 100px; font-weight: bold;">
                NBA
            </span>
            <br>
            <br>
            <br>
            <span style="font-size: 100px; font-weight: bold;">
                STATS
            </span>
        </div>
        <div class="stitle" style="visibility: hidden;">
            <span>
                NBA
            </span>
            <br>
            <span>
                STATS
            </span>
        </div>
        <div class="stitle" style="visibility: hidden;">
            <span>
                NBA
            </span>
            <br>
            <span>
                STATS
            </span>
        </div>
    </div>

    <div class="layout">
        <!-- Random Player Card -->
        <div routerLink="/random" class="card">
            <mat-icon color="accent" class="icon">
                shuffle
            </mat-icon>

            <h1>
                Random
            </h1>
            <p>
                Get Stas from a Random Player
            </p>
            <p>
                Shows basic stats from a Random Player.
            </p>
        </div>

        <!-- 1 Player Card -->
        <div routerLink="/onePlayer" class="card2">
            <mat-icon color="accent" class="icon">
                how_to_reg
            </mat-icon>

            <h1>
                1 Player
            </h1>
            <p>
                Get Stats from a Selected Player
            </p>
            <p>
                Search by player name to get the stats.
            </p>
        </div>

        <!-- Compare Players Card -->
        <div routerLink="/twoPlayers" class="card3">
            <mat-icon color="accent" class="icon">
                supervisor_account
            </mat-icon>

            <h1>
                Compare Players
            </h1>
            <p>
                Get Stats Between 2 Players
            </p>
            <p>
                Search 2 players by their names to compare stats.
            </p>
        </div>
    </div>
</body>